<app-navbar></app-navbar>
<div class="container">
  <!-- <app-navbar></app-navbar> -->
    <br />
      <h2 class="text-primary text-center" >View Member</h2>
    <br />
    <div class="box-shadow-2" style="background-color: white">
<table class="table table-striped table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Member ID</th>
        <th scope="col">Member Name</th>
        <th scope="col">Gender</th>
        <th scope="col">DOB</th>
        <th scope="col">Phone Number</th>
        <th>Package</th>
        <th>Service Plan</th>
        <th>Date of Joining</th>
        <th>Status</th>
        <th></th>
        
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let d of viewmember">
            <td>
              
               {{d.memid}}
              </td>
              <td>
                {{d.membername |titlecase}}
              </td>
              <td>
                {{d.gender |titlecase}}
              </td>

              <td>
                {{d.birth_date |date}}
              </td>
              <td>
                {{d.phonenumber }}
              </td>
              <td>{{d.packagename |titlecase}}</td>
              <td>{{d.serviceplanid}}</td>
              <td>{{d.memcreated_on | date :'dd/MM/yyyy'}}</td>

              <td >{{d.memactive && 'Active' || 'Block'}}</td>
              <td>
                <a routerLink="/carecalender" (click)="getmemberid(d.memid,d.serviceplanid)">Care Calender</a>
              </td>

        </tr>
      
    </tbody>
  </table>
  </div>
</div>