<div class="container">
    <br />
      <h2 class="text-primary text-center" >Package</h2>
    <br />
    <form class="form-style" #pack="ngForm" (ngSubmit)="package(pack)">
      <div class="form-group">
        <label for="username">Package Name</label>
        <input
        type="text"
        class="form-control"
        name="pack"
        ngModel
       
        />
      </div>
      <div class="form-group">
        <label for="username">Amount Subscribed</label>
        <input
          type="text"
          class="form-control"
          name="amount"
          ngModel
        
        />
      </div>
      <div class="form-group">
          <label for="username">Subscription Days</label>
          <input
            type="text"
            class="form-control"
            name="days"
            ngModel
          
          />
        </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  