<div class="container">
  <app-navbar></app-navbar>
  <br />
    <h2 class="text-primary text-center" >Doctor Registration</h2>
  <br />
  <form class="form-style" #regdoc="ngForm" (ngSubmit)="adddoctor(regdoc)">
    <div class="form-group">
      <label for="username">Name</label>
      <input
        type="text"
        class="form-control"
        name="docName"
        ngModel
        required
        placeholder="Enter Doctor Name"
      />
    </div>
    <div class="form-group">
      <label for="username">Doctor Id</label>
      <input
        type="text"
        class="form-control"
        name="docId"
        ngModel
        required
        placeholder="Enter Doctor Id"
      />
    </div>
    <div class="form-group">
        <label for="username">Specialist</label>
        <input
          type="text"
          class="form-control"
          name="specialist"
          ngModel
          required
          placeholder="Enter Specialist"
        />
      </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
