
<div class="container">
  <app-navbar></app-navbar>
    <br />
      <h2 class="text-primary text-center" >View Doctor List</h2>




<table class="table table-striped table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Doctor ID</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Specialist</th>

        <th>Status</th>
        
      </tr>
    </thead>
 
    <tbody *ngFor="let d of viewdoctor">
        <tr>
            <td>             
               {{d.docid}}
              </td>
              <td>
                {{d.docname}}

              </td>
              <td>
                {{d.specialist}}
              </td>

              <td >{{d.active && 'Active' || 'Block'}}</td>

            
             

              

        </tr>
      
    </tbody>
  </table>
</div>

