<app-navbar></app-navbar>
<div class="container">
 
    <br />
      <h2 class="text-primary text-center" >View Doctor List</h2>




<table class="table table-striped table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Doctor ID</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Specialist</th>

        <th>Status</th>
        
      </tr>
    </thead>
 
    <tbody >
        <tr *ngFor="let d of viewdoctor">
            <td>             
               {{d.docid}}
              </td>
              <td>
                {{d.docname |titlecase}}

              </td>
              <td>
                {{d.specialist |titlecase}}
              </td>

              <td >{{d.active  && 'Active' || 'Block'}}</td>

            
             

              

        </tr>
      
    </tbody>
  </table>
</div>

