<!-- <div class="container">
    <app-navbar></app-navbar>
      <br />
        <h2 class="text-primary text-center" >Package</h2>
      <br />
      <form class="form-style" #serviceplan="ngForm" (ngSubmit)="serviceplan(serviceplan)">
        <div class="form-group">
          <label for="username">Service Plan Name</label>
          <input
          type="text"
          class="form-control"
          name="careplan"
          ngModel
          required
         
          />
        </div>
       
        <div class="form-group">
            <label for="">Care Center</label>
            <input
              type="text"
              class="form-control"
              name="carecenter"
              ngModel
            required
            />
          </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
     -->
     <app-navbar></app-navbar>
     <div class="container">
        
          <br />
            <h2 class="text-primary text-center" >Service Plan </h2>
          <br />
          <form class="form-style" #service="ngForm" (ngSubmit)="serviceplan(service)">
            <div class="form-group">
              <label for="username">Service Plan Name</label>
              <input
              type="text"
              class="form-control"
              name="careplan"
              ngModel
              required
             
              />
            </div>
          
            <div class="form-group">
                <label for="username">Care Center</label>
                <input
                  type="text"
                  class="form-control"
                  name="carecenter"
                  ngModel
                required
                />
              </div>
        
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        