<div class="container">
  <app-navbar></app-navbar>
    <br />
      <h2 class="text-primary text-center" >View Package</h2>
    <br />

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        
        <th scope="col">Package ID</th>
        <th scope="col">Package Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Days</th>
             <th>Status</th>
        
      </tr>
    </thead>
    <tbody *ngFor="let d of viewpackage">
        <tr>
            <td>
              
               {{d.packageid}}
              </td>
              <td>
                {{d.packagename}}
              </td>
              <td>
                {{d.packageamount}}
              </td>

              <td>
                {{d.packagedays }}
              </td>
          
               
              <td >{{d.packactive && 'Active' || 'Block'}}</td>
             
              

        </tr>
      
    </tbody>
  </table>
</div>