<!-- <div class="container"> -->
  <!-- <app-navbar></app-navbar> -->
  <img src="../../assets/image001-1.jpg" class="img-fluid"  alt="Responsive image">
  <br>
  <br>
  <br>
  <h2 class="text-primary text-center">Dashboard</h2>

  <div class="row">
    <div class="col-sm-6">
      <div class="card"  style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title">Members</h5>
          <a routerLink="/memberform" class="card-link">Add Member</a>
          <a routerLink="/viewmember"style="margin-left: 5.5rem;" class="card-link">View Member</a>
        </div>
      </div>
    </div>
    
    <div class="col-sm-6">
      <div class="card" style="width: 22rem">
        <div class="card-body" ś="ś">
          <h5 class="card-title">Doctor</h5>
          <a routerLink="/adddoctor" class="card-link">Add Doctors</a>
          <a routerLink="/viewdoctor" style="margin-left: 5.5rem;" >View Doctor</a>
        </div>
      </div>
    </div>
    
  </div>

  <div class="row">
  
      <div class="col-sm-6">
        <div class="card" routerLink="/package" style="width: 22rem">
          <div class="card-body">
            <h5 class="card-title"> Packages</h5>
            <a routerLink="/package" class="card-link">Create Package</a>
            <a routerLink="/viewpackage"style="margin-left: 5rem;" class="card-link">View Package</a>
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card" style="width: 22rem">
          <div class="card-body" >
            <h5 class="card-title">Appointment</h5>
            <a routerLink="/bookappointment" class="card-link">Book Appointment</a>
            <a routerLink="/viewappointment" style="margin-left: 3rem;"class="card-link"
            >View Appointment</a
          >
          </div>
        </div>
      </div>
  
    </div>
   
 

    


 
  <div class="row">
   
  
    
    <div class="col-sm-6">
      <div class="card" routerLink="/serviceplan" style="width: 22rem">
        <div class="card-body">
          <h5 class="card-title" >Service </h5>
          <a routerLink="/serviceplan" class="card-link"> Create Service Plan</a>
       
          <a routerLink="/viewserviceplan"style="margin-left: 3.5rem;" class="card-link">View Service Plan</a>
          
        </div>
      </div>
    </div>
  
  <div class="col-sm-4">
    <div class="card" style="width: 22rem">
      <div class="card-body">
        <h5 class="card-title">Operational Step</h5>
        <a routerLink="/operationalstep" class="card-link"> Operational Steps</a>
        <a routerLink="/viewoperationalsteps" style="margin-left: 2rem;"class="card-link">View Operational Steps</a>
      </div>
    </div>
  </div>
  </div>
<!-- </div> -->
<!-- <div class="row">
  <div class="col-sm-4">
    <div class="card" routerLink="/viewappointment" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">View Appointment</h5>
       
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card" routerLink="/viewserviceplan" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">View Service Plan</h5>
      
      </div>
    </div>
  </div>

  
  <div class="col-sm-4">
    <div class="card" routerLink="/viewoperationalsteps" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">View Operational Steps</h5>
      
      </div>
    </div>
  </div>
</div> -->