<div class="conatiner">
    <br>
    <h2 class="text-primary text-center" > Dashboard</h2>
    <br>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Add Members</h5>
            <a href="#" class="card-link">Add Members</a>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body" routerLink="/adddoctor"ś>
          <h5 class="card-title">Add Doctors</h5>
            <a  routerLink="/adddoctor" class="card-link">Add Doctors</a>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Create Packages</h5>
            <a href="#" class="card-link">Create Package</a>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">View Package</h5>
            <a href="#" class="card-link">View Packages</a>
          
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <div class="card-body" routerLink="/bookappointment" >
          <h5 class="card-title">Book Appointment</h5>
            <a routerLink="/bookappointment" class="card-link">BookAppointment</a>
          
        </div>
      </div>
    
</div>